* {
	font-family: "Trebuchet MS", Helvetica, sans-serif;
	font-color: #111;
}

h1 {
	text-align: center;
	font-size: 2em;
}

#tresc {
	margin: 0 20px 0 25%;
	padding-left: 10px;
	border-left: 1px solid black;
}

#menu {
	margin-top: 10px;
	width: 20%;
	position: fixed;
}

#menu li {
	list-style-type: none;
	border-bottom: 1px solid black;
}

a {
	text-decoration: none;
	border-bottom: 1px dotted gray;
}

a:hover {
	color: white;
	background-color: #ccc
}

#menu a {
	border-bottom: none;
}

#stopka {
	border-top: 1px solid black;
	text-align: center;
	font-size: 0.75em;
}

.ilustracja {
	float: right;
	border: 1px solid black;
	margin: 10px;
	padding: 10px;
}

.ilustracja p {
	text-align: center;
}

.wiersz {
	margin-left: 80px;
	font-size: 1.5em;
	font-style: italic;
	font-family: "Times New Roman", serif;
	color:  #483d8b;
}